# Entorno virtual
venv/
env/
ENV/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local (si usas SQLite)
db.sqlite3

# Variables de entorno o configuraciones sensibles
.env